<div id="topbar">
  <div id="poke-img">
    <%
    if(pokemonForm.name != pokemonSpecies.name)
    {
      %>
      <img src="<%= pokemonForm.sprites.front_default %>" alt="">
      <%
    }
    else
    {
      %>
      <img src="<%= pokemon.sprites.front_default %>" alt="">
      <%
    }
    %>
  </div>
  <div id="forms">
    <div id="rag-forms">
      <ul>
        <%
        if(pokemon.name.includes('alola'))
        {
          %>
          <li class="no-form">regular</li>
          <li class="pokemon-moveset-form">alolan</li>
          <%
        }
        else if(pokemonSpecies.name == pokemon.name)
        {
          %>
          <li class="pokemon-moveset-form">regular</li>
          <li class="no-form">alolan</li>
          <%
        }
        else
        {
          %>
          <li class="no-form">regular</li>
          <li class="no-form">alolan</li>
          <%
        }
        %>
        <li class="no-form">galarian</li>
      </ul>
    </div>
    <div id="types">
      <div id="types-text">Types:</div>
      <%
      if(pokemon.types.length==1)
      {
        %>
        <div class=" <%= pokemon.types[0].type.name %> type">
          <%= pokemon.types[0].type.name %>
        </div>
        <%
      }
      else
      {
        %>
        <div class=" <%= pokemon.types[0].type.name %> type">
          <%= pokemon.types[0].type.name %>
        </div>
        <div class=" <%= pokemon.types[1].type.name %>  type">
          <%= pokemon.types[1].type.name %>
        </div>
        <%
      }
      %>

    </div>
    <div id="other-forms">
      <ul>
        <%

        if(pokemonSpecies.varieties)
        {
          for(let i=0;i<pokemonSpecies.varieties.length;i++)
          {
            if(pokemonSpecies.varieties[i].pokemon.name!=`${pokemonSpecies.name}-alola`)
            {
              if(pokemonSpecies.varieties[i].pokemon.name == pokemon.name)
              {
                %>
                 <li class="pokemon-moveset-form">
                    <%=pokemonSpecies.varieties[i].pokemon.name%>
                 </li>
                <%
              }
              else
              {
                %>
                <li class="no-form">
                  <%=pokemonSpecies.varieties[i].pokemon.name%>
                </li>
                <%
              }

            }
          }
        }
        %>


      </ul>
    </div>
    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
</div>
