<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/pokemon-moveset/style.css" type="text/css">
  </head>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="wrapper">

      <div id="leftWrapper">
        <div id="searchbar">
          <input id="searchinput" type="search" name="" value="" placeholder="Type the Pokemon Name">
          <ul id="hints">

          </ul>
        </div>

        <div id="sidebar">
          <ul>

          </ul>

          <div id="loadMore" class="moveset" data-id="1">Load More</div>
        </div>
      </div>

      <div id="rightWrapper">
        <div id="pokebar">
          <a id="prev" href="/pokemon/<%= pokemon.id - 1 %>">
              <div class="prev-text">#prev</div>
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.id - 1 %>.png" alt="" >
          </a>

          <a id="pokemon" href="/pokemon/<%= pokemon.name %>"><%= pokemon.name%></a>

          <a id="next" href="/pokemon/<%= pokemon.id - 1 %>">
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.id + 1 %>.png" alt="" >
              <div class="next-text">#next</div>
          </a>
        </div>

          <div id="mainpanel">

          <%- include('./partials/topbar-moveset.ejs') %>


            <div id="moveset-wrapper">

              <div class="moveset-column">
                <ul>
                  <li>
                    <div>Held Item:</div>
                    <div>
                      <% if(moveset.heldItem != '')
                      {
                        %> <%= moveset.heldItem %> <%
                      }
                      else
                      {
                        %> - <%
                      }
                      %></div>
                  </li>
                  <li>
                    <div>Ability:</div>
                    <div><%= moveset.ability %></div>
                  </li>
                  <li>
                    <div>EVs:</div>
                    <div>
                      <%
                      let string = "";
                      moveset.EVs.forEach((ev)=>{
                        string += `${ev.value} ${ev.stat} / `;
                      });
                      string = string.slice(0, string.length-2);
                      %>

                      <%= string %>
                    </div>
                  </li>
                  <li>
                    <div>Nature:</div>
                    <div><%= moveset.nature %></div>
                  </li>
                </ul>
              </div>
              <div class="moveset-column">
                <ul>
                  <li>
                    <div>Move #1:</div>
                    <div><%= moveset.moves[0].name %></div>
                  </li>
                  <li>
                    <div>Move #2:</div>
                    <div><%= moveset.moves[1].name %></div>
                  </li>
                  <li>
                    <div>Move #3:</div>
                    <div><%= moveset.moves[2].name %></div>
                  </li>
                  <li>
                    <div>Move #4:</div>
                    <div><%= moveset.moves[3].name %></div>
                  </li>
                </ul>
              </div>

              <div style="clear:both"></div>

            </div>

            <div id="nick-footer">
              The author of this moveset is: <%= moveset.author %>
            </div>

          </div>
        </div>


      </div>

    </div>
    <a href="" id="atag"></a>
    <div id="pokeName" style="display:none"><%= pokemon.name %></div>
    <div id="movesetId" style="display:none"><%= id %></div>
    <div id="siteType" style="display:none">moveset</div>
    <script type="text/javascript" src="/public/scripts/pokemon/globalVariables.js"></script>
    <script type="text/javascript" src="/public/scripts/pokemon/getData.js"></script>
    <script type="text/javascript" src="/public/scripts/fakeClick.js"></script>
    <script type="text/javascript" src="/public/scripts/pokemon/loadMovesets.js"></script>
    <script type="text/javascript" src="/public/scripts/pokemon/setMovesetAsSelected.js"></script>
    <script type="text/javascript" src="/public/scripts/globalVariables.js"></script>
    <script type="text/javascript" src="/public/scripts/showHints.js"></script>
    <script type="text/javascript" src="/public/scripts/showSearchbar.js"></script>
  </body>
</html>
